<ion-content>
   
    <ion-refresher style="width:100%;" pulling-text="Pull to refresh..."
                   on-refresh="doRefreshCategory()">
    </ion-refresher>
    <ion-list show-delete="data.showDelete" show-reorder="data.showReorder">

        <ion-item ng-repeat="item in categories"
                  item="item"
                  class="item-remove-animate">
            
            
            <li class="item item-toggle">
                <a href="#/categorydetail/{{item.CategoryID}}">{{ item.Name + ", " + item.CategoryType  }}</a>
                <label ng-class="(item.CategoryType) ? 'toggle toggle-assertive' : 'toggle toggle-balanced'">
                    <input type="checkbox" checked="checked" ng-disabled="true">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>


            <ion-delete-button class="ion-minus-circled"
                               ng-click="onItemDelete(item)">
            </ion-delete-button>
            <ion-option-button class="button-assertive"
                               ng-click="edit(item)">
                Edit
            </ion-option-button>
            <ion-option-button class="button-calm"
                               ng-click="share(item)">
                Share
            </ion-option-button>
            <ion-reorder-button class="ion-navicon" on-reorder="moveItem(item, $fromIndex, $toIndex)"></ion-reorder-button>
        </ion-item>

    </ion-list>

</ion-content>

