<!DOCTYPE html>
<html ng-app="MainApp">
<head>
    <title>Budget Mobile</title>
	<meta charset="utf-8" />
</head>
<body  ng-controller="MainController">
    <h1 ng-init="name='burak'">{{name}}</h1>
    <input ng-model="name" />

    <div>
        <p>
            {{surname}}
        </p>
        <p>
            {{_surname2}}
        </p>
    </div>

    <form name="MainForm" >
        <input ng-model="surname" />
        <button id="btnSetSurname"  ng-click="setSurname(surname)">Click</button>
    </form>

    <br />
    <label>Search</label>
    <input ng-model="searchText" />
    <ul>
        <li ng-repeat="team in teams | filter:searchText">
            Name : {{team.name}}
            Colors : {{team.colors}}
        </li>
    </ul>
    <ul>
        <li ng-repeat="category in categories">
            Name : {{category.Name}}
        </li>
    </ul>

    

    <!--<iframe width="800" height="600" src="https://app.powerbi.com/view?r=eyJrIjoiYzBiYTA3NDYtM2U4NS00YTlhLTgwYTMtMWI0YTk4MGU0ZTE1IiwidCI6IjM0ZWY5Yzk0LWIwZTYtNDhlYS1hODk3LTA5OTAyMWZlOWNmZSIsImMiOjR9" frameborder="0" allowFullScreen="true"></iframe>-->
    

    <script src="Scripts/angular.min.js"></script>
    <script src="Controllers/MainApp.js"></script>
</body>
</html>
