<div class="list">
<label class="item item-input">
    <!--<span class="input-label">First Name</span>-->
    <i class="icon ion-person-add placeholder-icon"></i>
    <input type="text" placeholder="Burak">
</label>
<label class="item item-input item-stacked-label">
    <input type="date" placeholder="Create Date" />
</label>
<label class="toggle">
    <input type="checkbox" />
    <div class="track">
        <div class="handle"></div>
    </div>
</label>
</div>
<div class="content">
    <button class="button button-calm ion-checkmark-circled"> OK</button>
    <button class="button button-outline button-assertive ion-trash-a"> Cancel</button>
</div>
<!--<div class="bar bar-footer bar-calm">
    <div class="title">BD</div>
</div>-->
